.weeks-dropdown {
  position: relative;
  max-width: 370px;
  grid-column: 9 / -1;
  grid-row: 1;
  width: 100%;
  justify-self: flex-end;
  filter: drop-shadow(0px 10px 63px rgba(0, 0, 0, 0.07));

  &__header {
    position: relative;
    padding: 20px 15px;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    background-color: var(--light-grey);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 50%;
      right: 17px;
      background: url("../../../assets/icons/arrow.svg") no-repeat center;
      transform: translateY(-50%);
    }

    &--opened {
      border-bottom: 1px solid var(--milk-grey);

      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__list-container {
    width: 100%;
  }

  &__item {
    position: relative;
    padding: 20px 15px;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    background-color: var(--light-grey);
    cursor: pointer;

    &:not(:first-child) {
      border-top: 1px solid var(--milk-grey);
    }
  }
}